{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <article>
    <h1>About Us</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        <p>
          Based in Japan and Vietnam, Little Japan is a family owned
          Mediterranean restaurant, focused on traditional recipes served with a
          modern twist.
        </p>
        <p>
          The chefs draw inspiration from lots of culture especially Japan
          and have a menu of 12-15 items that rotate seasonally.
        </p>

        <p>
          The restaurant has a rustic and relaxed atmosphere with moderate
          prices, making it a popular place for a meal any time of the day.
        </p>

        <p>
          Little Japan is owned by NGUYEN HUU TRUONG DUY,  who
          live in Japan to pursue their shared dream of owning a
          restaurant.
        </p>

        <p>
          To craft the menu, DUY relies on family recipes and his experience
          as a chef in Japan.
        </p>

        <p>
          Duy also does all the marketing for the restaurant and led the effort to
          expand the menu beyond classic Japan dishes to incorporate additional
          cuisines from the mediterranean region.
        </p>
      </div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <figure class="figure">
          <img
            src="{% static 'img/duy3x4.jpg' %}"
            alt="NGUYEN HUU TRUONG DUY"
          />
          <figcaption class="figure-caption">
            Little Japan owner NGUYEN HUU TRUONG DUY
          </figcaption>
        </figure>
      </div>
      <!--End col-->
    </div>
    <!--End row-->
  </article>
</section>
{% endblock %}
